<form action="/articles/<%= @article.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" type="text" name="article[title]" value="<%= @article.title %>" />
    </li>
    <li>
      <label for="content">Content</label>
      <textarea id="content" type="text" name="article[content]"  value="<%= @article.content %>">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>